
.vertical_container {
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    gap: 50px;
    justify-content: space-evenly;
}

.rotate-90 {
    transform: rotate(-90deg);
}


/* app/gender/navbar.css */
.vtext.active {
    color: #F6C492;
}

.vtext.active:before {
    width: 100%;
}

.vtext:before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #F6C492;
    transition: all .5s;
}