.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 12px; /* Fixed height */
    background: #d3d3d3;
    border-radius: 10px;
    outline: none;
    transition: background 0.15s ease-in-out;
    margin-right: 28%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px; /* Fixed thumb size */
    height: 28px; /* Fixed thumb size */
    background-color: #F6C492;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Optional: Add shadow to the thumb */
}

.slider::-moz-range-thumb {
    width: 28px; /* Fixed thumb size */
    height: 28px; /* Fixed thumb size */
    background-color: #F6C492;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Optional: Add shadow to the thumb */
}

.font-outfit.text-xl.text-center {
    text-align: center;
}